<footer class="footer">
  <div class="status-bar">
    <div class="status-item">
      <i class="fas fa-code-branch"></i>
      master
    </div>
    <div class="status-item">
      <i class="fas fa-sync"></i>
      <%= config.author %>
    </div>
    <div class="status-item">
      <i class="fas fa-clock"></i>
      <%= date(Date.now(), 'YYYY-MM-DD') %>
    </div>
    <div class="status-item">
      Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>
    </div>
    <div class="status-item github">
      <a href="<%= config.github || '#' %>" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</footer>
